#tuky{
    font-size: 25px;
    margin-right: 5px;    
    color:rgba(255, 255, 255, 0.712);
}

#tuky:hover{    
    color:white;
}

.cardProductos {
    align-items: ceter;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}